.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.onlyBorder {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    background: none;
}
