.app_dark_theme {
    --bg-color: #172ca0;
    --inverted-bg-color: #fff;
    --primary-color: #14c236;
    --secondary-color: #61ee7f;
    --inverted-primary-color: #1c58da;
    --inverted-secondary-color: #4673d9;
}
