.App.light {
    --bg-color: #fff;
    --inverted-bg-color: #172ca0;

    --primary-color: #1c58da;
    --secondary-color: #4673d9;
    --inverted-primary-color: #14c236;
    --inverted-secondary-color: #61ee7f;
}
