.Navbar {
    background-color: var(--inverted-bg-color);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 20px;
}
